<div class="container-fluid">
	<div class="main-container">
		<div class="jumbotron container main-jumbotron">
			<h1 class="display-4">Добро пожаловать!</h1>
			<br/>
			<br/>
			<h3>
				Wshop это простой и удобный маркетплэйс
		  	цифровых продуктов
			</h3>
			<br/>
			<br/>
			<br/>
			<a class="btn btn-primary btn-lg btn btn-success btn-status" href="/shops" 
				role="button">Я покупатель</a>
			<a class="btn btn-primary btn-lg btn btn-success btn-status" href="<%= new_admin_session_path %>"
				role="button">Я продавец</a>
		</div>
	</div>
</div>

<!-- 
		<div class="row">
			<div class="col-lg-12 landing-promo">
		  	<center><h1>Добро пожаловать в Wshop!</h1></center>
		  	<br/>
		  	<h2>Маркетплэйс для цифровых продуктов.</h3>
		  	<br/>
		</div>
	</div>
</div> -->