<div class="container">
	<div class="row">
		<div class="col-lg-12 main-menu">
			<ul>
				<li><a href="#">Регистрация</a></li>
				<li><a href="#">Вход</a></li>
				<li><a href="#">Магазины</a></li>
			</ul>
		</div>
	</div>


	<div class="row">
		<div class="col-lg-12 landing-promo">
	  	<center><h1>Добро пожаловать в Wshop!</h1></center>
	  	<br/>
	  	<h2>Маркетплэйс для цифровых продуктов.</h3>
	  	<br/>
	</div>
</div>