<% if @cart.products.present? %>
	<center><h1>Ваши покупки</h1></center>
	<br/>
	<ul>
	<% @cart.products.each do |product| %> 
		<li><%= product.title %></li>
	<% end %>
	</ul>
<% else %>
  <center><h1>Ваша корзина пуста</h1></center>
<% end %>


