body {
  margin: 0px;
  height: 100%;
  width: 100%;
  background: blue;
  font-family: 'Rubik', sans-serif;
}

.main-container {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}

.main-jumbotron {
  margin-top: 10%;
  vertical-align: middle;
  text-align: center;
}

.jumbotron {
    background-color: yellow;
}
  
/*.main-menu {
  background: yellow;
}

.main-menu a:hover {
  text-decoration-line: underline;
}

.main-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-menu li {
   float: right;
}

.main-menu li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.main-menu li a:hover {
  text-decoration: underline;
}
*/
.devise-form-container {
  margin-top: 10%;
  height: 100%;
  width: 100%;
  vertical-align: center;
}

.btn-status {
  margin: 10px 50px 10px 50px;
  width: 200px;
  height: 50px;
}


/*body, html {
  height: 100%;
}



.main-container {
	height: 100%;
  background: url('background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landing-promo {
	  color: white;
	  vertical-align: middle;
	  text-align: center;
	  margin-top: 10%;
	  font-family: 'Source Code Pro', monospace;
}

.main-menu a:hover {
	text-decoration-line: underline;
}

.main-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-menu li {
	 float: right;
}

.main-menu li a {
	display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Source Code Pro', monospace;
}

.devise-form-container {
  margin-top: 10%;
  height: 100%;
  width: 100%;
  vertical-align: center;
}
*/