<center><h1>Добро пожаловать!</h1></center>
<br/>
<ul>
	<li><a href='<%= products_path %>'>Продукты</a></li>
	<li><a href='<%= sales_path %>'>Продажи</a></li>
	<li><a href='<%= statistics_path %>'>Статистика</a></li>
	<li><a href='<%= edit_shop_path %>'>Настройки магазина</a></li>
</ul>